
# intellij
out/
.idea/workspace.xml
.idea/misc.xml
.idea/codeStyles
.idea/gradle.xml
.idea/terminal.xml
target/

# gradle
.gradle/
build/
.idea/tdd-bank-account-java.iml
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/tdd-bank-account-java.iml
.idea/tdd-bank-account-java.iml
.idea/tdd-bank-account-java.iml
.idea/tdd-bank-account-java.iml
.idea/tdd-bank-account-java.iml
